body { background: #bf3760; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 12px; display: flex; }
.block-uploader-0 { color: #fff379; font-size: 14px; margin-bottom: 5px; }
.block-cluster-1 { color: #c4f110; font-size: 19px; margin-bottom: 5px; }
.block-payment-2 { color: #45ccf5; font-size: 17px; margin-bottom: 5px; }
.block-logger-3 { color: #d3345; font-size: 21px; margin-bottom: 5px; }
.block-config-4 { color: #ff121; font-size: 21px; margin-bottom: 5px; }
.block-sms-5 { color: #728834; font-size: 21px; margin-bottom: 5px; }
.block-token-6 { color: #bad68d; font-size: 19px; margin-bottom: 5px; }